/* Colors */
:root {
  --black: #000;
  --blue: #0070f0;
  --dark-blue: #013179;
  --dark-grey: #131212;
  --light-grey: #f2f2f2;
  --orange: #ff5317;
  --white: #fff;
  --yellow: #ffee2e;
}

/* Override System Preferences with User Selection */
[data-theme="light"] {
  --page-background-color: var(--light-grey);
  --text-color: var(--black);
  --card-background-color: var(--white);
  --link-color: var(--blue);
  --link-hover-color: var(--orange);
  --headers-color: var(--dark-blue);
  --button-hover-text-color: var(--white);
}

[data-theme="dark"] {
  --page-background-color: var(--black);
  --text-color: var(--white);
  --card-background-color: var(--dark-grey);
  --link-color: var(--yellow);
  --link-hover-color: var(--blue);
  --headers-color: var(--orange);
  --button-hover-text-color: var(--black);
}
