.nav-header {
  display: flex;
  &__nav {
    flex: 1;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-left: 0.2rem;
    &:first-child {
      margin-left: 0;
    }
    &:after {
      content: "/";
      margin-left: 1rem;
      color: var(--text-color);
    }
    &:last-child:after {
      content: "";
    }
  }

  &__link {
    text-decoration: none;
    border-bottom: 1px dashed var(--link-color);
    font-size: 1.1rem;
    &:hover {
      border-bottom-color: transparent;
    }
  }

  .switcher {
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    border: 0;
    color: inherit;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 0;
    background: none;

    &__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70%;
      height: 70%;
      fill: currentColor;
      transform: translate(-50%, -50%);
    }
  }
}
