:root {
  --grey-light: #f2f2f2;
  --black: #000;
  --white: #fff;
  --orange: #ff5317;
  --blue: #0070f0;
  --dark-blue: #013179;

  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --rem: 16px;
  --line-height: 1.6;
  --breakpoint-lg: 992px;

  --card-radius: 0.75rem;
  --card-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
  --card-color: var(--black);
  --card-content-padding: 1rem;
  --card-content-background-color: transparent;
}
