@use "_colors.scss";
@use "_variables.scss";
@use "_header.scss";
@use "_typography.scss";
@use "_print.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  color: var(--text-color);
  font-family: var(--font-sans-serif);
  font-size: clamp(0.5rem, calc(0.5rem + 1vw), 1.1rem);
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-background-color);
  margin: 0;
  padding: 0;
}

.main {
  max-width: var(--page-width);
  margin: auto;
  padding: 0 1rem;
}

.card {
  background-color: var(--card-background-color);
  color: var(--text-color);
  padding: clamp(0.5em, calc(0.8em + 1vw), 2.3em);
  margin-bottom: var(--card-content-padding);
  border-radius: clamp(0.2em, calc(0.1em + 0.3vw), 2em);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.back-to-top {
  text-decoration: none;
  margin-block-start: calc(100vh + 400px);
  position: sticky;
  bottom: 1rem;
  left: 100vw;
  margin-inline-end: 1rem;
  font-size: 2.5rem;
}

.skills dl dt {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.skills dl dd:not(:last-child) {
  margin: 0 0 2rem 1rem;
}

.experience {
  > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 1rem;
    & > li {
      margin-bottom: 0.3rem;
      & ol {
        margin-top: 0.3rem;
        margin-left: 1rem;
      }
    }
  }
  & > h6 {
    margin: 0.7rem 1rem 0.5rem 1rem;
  }
}
