section#contacts.card.contacts
    header
        h2 Contacts
    ul
        li
            b Email
            | :
            a(href="mailto:velomenon@gmail.com") velomenon@gmail.com
        li
            b GitHub
            | :
            a(href="https://github.com/velomenon") github.com/velomenon
        li
            b LinkedIn
            | :
            a(href="https://www.linkedin.com/in/dumitru-cojuhari/") Dumitru Cojuhari