section#education.card.education
  header
    h2 Education & Certifications
  ol
    li
      h5 Master's Degree in Information Technologies in Modelling
      p State University of Moldova | 2012 - 2017
    li
      h5 Master's Degree in Economy and Informatics
      p State University of Moldova | 2000 - 2004
    li
      h5 Agile Scrum Master Certification
      p Chisinau, Moldova | 2016
