section#education.card.education
    header
        h2 Education
    ol
        li
            h5 Master's Degree in Information Technologies in Modelling
            p RM State University | 2012 - 2017
        li
            h5 Master's Degree in Economy and Informatics
            p RM State University | 2000 - 2004
        li
            h5 Certifications: Agile Scrum Master Courses
            p RM, Chisinau | 2016