section#experience.card.experience
    header
        h2 Experience
    h4
        | 2022 - Present(
        span(x-data="timeElapsed('2022-03-01T00:00:00Z')")
            span(x-text="timePassed")
        | )
    ul
        li
            b Company:
            | SmartRecruiters GMBH
        li
            b Position:
            | Senior Front-End Developer
    h6 Key Projects
    ul
        li
            a(href="https://smartr.me/") smartr.me
            | Organizer of job searches
            |   and application progress tracking.
        li
            b Overview:
            | A platform that recommends jobs based on user profiles, preferences,
            |   and past applications, while providing the skills required for
            |   specific positions.
        li
            b Tech Stack:
            | React, Angular, JavaScript, SCSS, Webpack, Express, Node.js
        li
            b Key Achievements:
            ol
                li Integrated OneTrust for GDPR compliance.
                li
                    | Integrated "CompanyMatch" to help users find companies that
                    |   align with their values.
                li Developed a "Required skill search feature" for job positions.
                li
                    | Standardized codebases by integrating company-wide tools for
                    |   linting and formatting.
                li
                    | Created Cypress E2E tests to ensure the reliability of core
                    |   features.
    ul
        li
            a(href="https://smartrecruiters.com/") smartrecruiters.com
            | Applicant Tracking System and Job Distribution Platform.
        li
            b Overview:
            | A platform enabling job offer distribution to various job boards and
            |   social networks, integrated with SmartRecruiters ATS.
        li
            b Tech Stack:
            | Angular, JavaScript, Node.js, OpenAPI, BFF, Pug, SCSS, Webpack, Lit,
            |   Playwright, Jest, Jasmine
        li
            b Key Achievements:
            ol
                li
                    | Integrated the job distribution platform with the "VONQ" API
                    |   provider.
                li
                    | Migrated the platform from AngularJS to Angular for modern
                    |   architecture and performance.
                li
                    | Developed internal tooling and enhanced the developer experience
                    |   using Node.js.
                li Integrated the "HirePort Agency Portal" into the platform.
                li
                    | Achieved extensive test coverage with Playwright for E2E
                    |   testing.
                li
                    | Created internal learning materials to streamline onboarding and
                    |   enhance knowledge sharing.
                li
                    | Conducted interviews and mentored team members to support team
                    |   growth and development.
                li
                    | Improved accessibility for legacy applications, ensuring
                    |   compliance with modern standards.
                li
                    | Added new components to the common library for consistent UI
                    |   elements across applications.
    br
    h4 2018 - 2022
    ul
        li
            b Company:
            | Akelius Management GmbH
        li
            b Position:
            | Full-Stack JavaScript Developer
    h6 Key Projects
    ul
        li
            a(href="https://akelius.de/") akelius.de
            | Construction and Real
            |   Estate Application
        li
            b Overview:
            | A platform for organizing construction processes and activities.
        li
            b Tech Stack:
            | React, JavaScript, CSS Modules, GraphQL, Apollo, PostCSS, Flow,
            |   Node.js, TestCafe, Jest, Webpack
        li
            b Key Achievements:
            ol
                li Integrated GraphQL API to streamline data operations.
                li
                    | Developed various services, including "Error Handling" and SVG
                    |   Sprite integration.
                li
                    | Implemented a shared cloud-based notes system to enhance
                    |   collaboration between construction workers and supervisors.
    ul
        li
            a(href="https://akelius-technology.com") akelius-technology.com
            | Personnel Management Automation
        li
            b Overview:
            | An application for staff management and seamless integration of new
            |   employees, enabling operations with organizational and employee
            |   data.
        li
            b Tech Stack:
            | TypeScript, JavaScript, React, Express, MS Azure, Jest, SCSS,
            |   Lodash, REST API, Node.js, Webpack, BEM, Postgres
        li
            b Key Achievements:
            ol
                li
                    | Designed and implemented key services such as Authorization,
                    |   Translation, and Shared UI Libraries.
                li Created and tested robust APIs for backend integration.
                li
                    | Optimized application performance and integrated Auth0 for
                    |   authentication.
                li
                    | Enhanced application responsiveness and accessibility across
                    |   devices.
                li
                    | Contributed to project architecture planning and implemented
                    |   evaluation strategies.
    br
    h4 2017 - 2018
    ul
        li
            b Company:
            | HeavenHR GmbH, Berlin
        li
            b Position:
            | Senior Front-End Developer
    h6 Key Project
    ul
        li
            a(href="https://heavenhr.com/") heavenhr.com
            | German Human
            |   Resource Management Software
        li
            b Overview:
            | SaaS for HR management and real-time payroll.
        li
            b Tech Stack:
            | JavaScript, React, Redux, Webpack, Node.js, SCSS
        li
            b Key Achievements:
            ol
                li
                    | Implemented the Recurring Salary functionality to streamline
                    |   payroll processes.
                li
                    | Developed the Salutation Title feature for enhanced user
                    |   personalization.
                li
                    | Optimized the existing codebase for improved performance and
                    |   maintainability.
                li
                    | Designed and integrated Email Templates for seamless
                    |   communication with candidates.
    br
    h4 2015 - 2017
    ul
        li
            b Company:
            | Leads-Trade SRL
        li
            b Position:
            | Lead Software Developer
    h6 Key Project
    ul
        li
            a(href="https://autoo.ru/") autoo.ru
            | Catalog for Searching Auto
            |   Mechanics and Repair Services
        li
            b Overview:
            | A platform for organizing construction processes and activities.
        li
            b Tech Stack:
            | JavaScript, CSS, HTML, Jade/Pug, React, Webpack, Bootstrap
        li
            b Key Achievements:
            ol
                li
                    | Organized team efforts and resource allocation to ensure project
                    |   delivery.
                li
                    | Developed critical project features and implemented new
                    |   functionalities.
                li
                    | Collaborated closely with stakeholders and team members to align
                    |   goals and priorities.
    br
    h4 2013 - 2015
    ul
        li
            b Company:
            | Leads-Trade SRL
        li
            b Position:
            | Senior Front-End Developer
    h6 Key Projects
    ul
        li
            a(href="https://cashalot.su/") cashalot.su
            | "Kashalot Finance" -
            |   Loan Selection Service
        li
            b Overview:
            | The fintech service designed to provide financial history and
            |   scoring.
        li
            b Tech Stack:
            | JavaScript, Stylus, Jade/Pug, jQuery, React, Gulp, Bootstrap
        li
            b Key Achievements:
            ol
                li
                    | Designed and implemented a landing page and interactive forms,
                    |   resulting in a 25% increase in loan issuance.
                li
                    | Introduced A/B testing to optimize landing pages and improve
                    |   conversion rates.
                li
                    | Compiled and analyzed metrics and analytics to enhance page
                    |   performance.
    ul
        li
            a(href="https://leadia.ru/") leadia.ru
            | Client Supplier Platform
            |   for Various Industries
        li
            b Overview:
            | Supplying various businesses with clients and customers.
        li
            b Tech Stack:
            | JavaScript, CSS, HTML, Jade/Pug, jQuery, React, Gulp, Bootstrap
        li
            b Key Achievements:
            ol
                li
                    | Developed promo materials and UI, driving a 30% growth in new
                    |   customers.
                li
                    | Created high-efficiency websites and landing pages, boosting
                    |   client acquisition.
                li
                    | Designed advertising and promotional materials, enhancing brand
                    |   visibility.
                li
                    | Built internal tooling to improve development processes and
                    |   efficiency.
                li Designed architectures for optimal resource utilization.
    ul
        li
            a(href="https://venyoo.ru/") venyoo.ru
            | Online Consultant for
            |   Websites
        li
            b Overview:
            | An interactive widget in the form of a chatbot, providing
            |   consultancy and converting website users into clients.
        li
            b Tech Stack:
            | JavaScript, React, jQuery, Gulp, Bootstrap, Webpack, AngularJS
        li
            b Key Achievements:
            ol
                li
                    | Established the project architecture and implemented modern
                    |   JavaScript frameworks.
                li
                    | Optimized development processes with reusable components and
                    |   frameworks.
    br
    h4 2010 - 2013
    ul
        li
            b Company:
            | CreativePixel Studio
        li
            b Position:
            | Front-End Developer & Designer
    h6 Key Project
    ul
        li
            a(href="https://xplit.ru/") xplit.ru
            | Catalog for ceramic ceiling
            |   tiles.
        li
            b Overview:
            | A wide catalog and online marketplace for various premium ceramic
            |   tiles.
        li
            b Tech Stack:
            | JavaScript, jQuery, Html5, CSS3
        li
            b Key Achievements:
            ol
                li
                    | Delivered visually appealing and responsive designs for
                    |   promotional websites.
                li Conducted SEO analytics to boost site rankings and user traffic.
                li
                    | Collaborated with marketing teams to align design with campaign
                    |   objectives.
                li
                    | Created a seamless and immersive forum experience for the gaming
                    |   community.