section#languages.card.languages
    header
        h2 Languages
    ul
        li
            b English
            |  (EN): Professional Working Proficiency (C1)
        li
            b German
            |  (DE): Elementary Proficiency (A2)
        li
            b French
            |  (FR): Elementary Proficiency (A1)
        li
            b Romanian
            |  (RO): Native/Bilingual Proficiency (C1)
        li
            b Russian
            |  (RU): Native/Bilingual Proficiency (C2)
