section#languages.card.languages
    header
        h2 Languages
    ul
        li
            | English&nbsp;
            b (EN)
            | : Proficient&nbsp;
            b (C1)
        li
            | German&nbsp;
            b (DE)
            | : Basic&nbsp;
            b (A2)
        li
            | French&nbsp;
            b (FR)
            | : Beginner&nbsp;
            b (A1)
        li
            | Romanian&nbsp;
            b (RO)
            | : Proficient&nbsp;
            b (C1)
        li
            | Russian&nbsp;
            b (RU)
            | : Proficient&nbsp;
            b (C2)