section#skills.card.skills
    header
        h2 Skills
        dl
            dt Typescript, Javascript & Frameworks
            dd
                | Typescript, Javascript, React, Angular, Node.js, Alpine.js, Redux,
                |   JQuery, Snap.svg, GSAP, ExpressJS, NPM, CoffeeScript, Grunt, Gulp,
                |   Hadlebars, Browserify, ReactiveX/RxJS, Pug/Jade
            dt HTML5 & Front-End Foundations
            dd Foundation, Bootstrap, Email Templating
            dt CSS & Styling
            dd SCSS, PostCss, Stylus (rupture, jeet, axis), LESS, SASS, BEM
            dt Testing & Quality Assurance
            dd
                | Playwright, Jest, Jasmine, Mocha, Chai, Karma, Visual regression
                |   testing, Webdriver I/O, TDD, BDD
            dt API Development & Integration
            dd REST, GraphQL, OpenApi
            dt DevOps & Cloud Engineering
            dd Docker, CI/CD, Azure, AWS S3, Microservices, Serverless
            dt Agile Project Management
            dd
                | Scrum, Kanban, Sprint planning, retrospectives, backlog grooming,
                |   and story estimation
            dt Design & UI/UX Expertise
            dd
                | Adobe Photoshop, Adobe Illustrator, Sketch, CorelDraw, Responsive
                |   design, App design, UX/UI
            dt SEO & Web Performance
            dd
                | PWA, SPA, SSR, SEO, A/B Testing, Web Performance, Accessibility,
                |   Page ranking
            dt Version Control & Collaboration
            dd Github, BitBucket, GitLab
            dt Team Leadership & People Management
            dd
                | Team Building, Performance Management, Cross-Team Collaboration,
                |   Mentorship & Training