doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Dumitru Cojuhari - Front-End/Full-Stack Engineer
        meta(name='description' content='Dumitru Cojuhari - Front-End/Full-Stack Engineer')
        link(rel='shortcut icon' href='/favicon.ico')


    body
        main.main
            include views/_header.pug
            include views/_about.pug
            include views/_experience.pug
            include views/_skills.pug
            include views/_contacts.pug
            include views/_education.pug
            include views/_languages.pug
        include views/_footer.pug